body{
  font-weight: 30px;

  text-align: center;
  background-color: #ff8080;
  font-family:sans-serif;

}
player2{
  display:none;
  display: block;
}
player1{
  display:none;
}
start{
  display:none;
}
h1{
  font-weight:30px;
  font-family: sans-serif;
}
button{
  background-color: #a6ff4d;
}
container{
  font-weight: 400;
  font-family: sans-serif;
  display: block;
  text-align: center;
  background-color: blue;
  flex:1.2;
}
